extends layout/app
block contenido

    section(class="py-5")
        h2(class="text-center text-4xl font-extrabold pt-10")= pagina
        if propiedades.length
            div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14")
                each propiedad in propiedades
                    div(class="bg-white shadow rounded-lg")
                        img(class="object-cover h-72 w-full" src=`/uploads/${propiedad.imagen}` alt=`imagen casa ${propiedad.titulo}`)
                        div(class="p-5 space-y-5")
                            h3(class="text-2xl font-bold")= propiedad.titulo
                            p(class="text-gray-600 text-sm") Habitaciones 
                                span(class="text-gray-800 font-bold")= propiedad.habitaciones
                            p(class="text-gray-600 text-sm") Baños 
                                span(class="text-gray-800 font-bold")= propiedad.banos
                            p(class="text-gray-600 text-sm") Jardín 
                                span(class="text-gray-800 font-bold") #{propiedad.jardin == 1 ? "Sí" : "No" }
                            p(class="text-gray-600 text-sm") Precio 
                                span(class="text-gray-800 font-bold")= propiedad.precio.nombre 
                            a(href=`/propiedad/${propiedad.id}` class="bg-indigo-600 w-full text-center block font-bold text-white p-2 uppercase rounded") Ver Propiedad
        else
            p(class="text-center text-gray-800 text-sm py-10") No hay Resultados